<ng-template #buttons>
  <div class="mb-3">
    <button class="btn btn-info mr-3" (click)="refresh()">Refresh</button>
    <button class="btn btn-info mr-3" (click)="createNew()">Add new virtual server</button>
    <button class="btn btn-danger" (click)="removeSelected()" [class.disabled]="haveNothingToRemove()">Remove selected</button>
  </div>
</ng-template>

<table class="table table-bordered table-striped mb-3 mt-3">
  <tr>
    <th>Current date:</th>
    <td>{{currentDateTime | isoDateTime}}</td>
  </tr>
  <tr>
    <th>Total usage time:</th>
    <td>{{totalUsageTime | timeSpan}}</td>
  </tr>
</table>

<ng-template [ngTemplateOutlet]="buttons"></ng-template>

<table class="table table-striped table-bordered mb-3">
  <tr>
    <th>Virtual server id</th>
    <th>Created at</th>
    <th>Removed at</th>
    <th>Selected for remove</th>
  </tr>
  <tr *ngFor="let virtualServer of virtualServers">
    <td>{{virtualServer.virtualServerId}}</td>
    <td>{{virtualServer.createDateTime | isoDateTime}}</td>
    <td>{{virtualServer.removeDateTime | isoDateTime}}</td>
    <td>
      <div class="btn-group btn-group-toggle" *ngIf="!virtualServer.removeDateTime">
        <label class="btn-danger" ngbButtonLabel>
          <input type="checkbox" ngbButton [(ngModel)]="virtualServer.selected">
          <span *ngIf="!virtualServer.selected">Remove</span>
          <span *ngIf="virtualServer.selected">Cancel remove</span>
        </label>
      </div>
    </td>
  </tr>
</table>

<ng-template [ngTemplateOutlet]="buttons"></ng-template>
